<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bme.aut.temalabor.luciferi.ejegy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bottom_navigation.ui.home.viewpager.idpager.QRScannerActivity"></activity>
        <activity
            android:name=".bottom_navigation.ui.store.BuyTicketActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".bottom_navigation.ui.store.StoreCategoryActivity"
            android:parentActivityName=".bottom_navigation.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".bottom_navigation.ui.home.viewpager.validticketspager.UserTicketActivity"
            android:parentActivityName=".bottom_navigation.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".bottom_navigation.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".auth.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/generalnotitle"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>